<configuration scan="true" scanPeriod="60 seconds">
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./log/erathia.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="com.erathia" additivity="false">
    <level value="debug"/>
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info" additivity="false">
        <appender-ref ref="FILE"/>
    </root>
</configuration>